<section id='shopping-list' class="container mx-auto px-4">
  <header class='text-center'>
    <h1 class="display-4 my-4">Shopping List</h1>
  </header>
  <main class='d-flex justify-content-between'>
    <span class="fs-5">Total value of food needed: <%= number_to_currency(@shopping_list_value) %></span>
  </main>
  <div class="table-responsive shadow-sm rounded my-4">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @shopping_list_items.each_with_index do |ingredient, index| %>
          <tr class="<%= index.even? ? 'bg-white' : 'bg-light' %>">
            <td><%= ingredient.food.name %></td>
            <td><%= ingredient.quantity %> <%= ingredient.food.measurement_unit %></td>
            <td><%= number_to_currency(ingredient.quantity*ingredient.food.price) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
