<section id='recipe' class="container mx-auto px-4">
  <header class='text-center'>
    <h1 class="text-3xl font-bold my-8">Recipe <%= @recipe.name %></h1>
  </header>
  <main class='recipe'>
    <div>
      <p>Preparation time: <%= @recipe.preparation_time %></p>
      <br/>
      <p>Cooking time: <%= @recipe.cooking_time %></p>
      <br/>
      <p><%= @recipe.description %></p>
      <br/>
    </div>
    <div >
      <% if can?(:manage, @recipe) %>
        <% if @recipe.is_public %>
          <%= link_to "Unpublish", publish_recipe_path(@recipe), method: :post, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Publish", publish_recipe_path(@recipe), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </main>
  <div>
    <%= link_to 'Generate shopping list', general_shopping_list_path, class: "bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded" if can? :manage, @recipe %>
    <%= link_to 'Add Food to Recipe', new_recipe_food_path(recipe_id: @recipe.id), class: "bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded" %>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left bg-white border border-gray-200 rounded-md">
      <thead class="text-xs bg-gray-200 text-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3 border-b">Food</th>
          <th scope="col" class="px-6 py-3 border-b">Quantity</th>
          <th scope="col" class="px-6 py-3 border-b">Value</th>
          <th scope="col" class="px-6 py-3 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |ingredient| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap"><%= ingredient.food.name %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= ingredient.quantity %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= ingredient.food.price %></td>
            <td class="px-6 py-4 whitespace-nowrap">
              <!-- Add actions for each food item if needed -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br/>
</section>
