<div class="max-w-md mx-auto bg-white border border-gray-200 rounded-lg shadow-lg p-6">
  <h2 class="text-3xl font-bold mb-4 text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input mt-1 block w-full rounded-md border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input mt-1 block w-full rounded-md border-gray-300" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4 flex items-center">
        <%= f.check_box :remember_me, class: "form-checkbox h-4 w-4 text-indigo-600" %>
        <%= f.label :remember_me, class: "ml-2 text-gray-700" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Log in", class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
