<div class="max-w-md mx-auto bg-white border border-gray-200 rounded-lg shadow-lg p-6">

  <%= form_with(model: @food, url: foods_path, local: true) do |form| %>
    <div class="dflex flexcol form1">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control mt-1 block w-full rounded-md border-gray-300" %>
      </div>

      <div class="field">
        <%= form.label :measurement_unit %>
        <%= form.text_field :measurement_unit, class: "form-control mt-1 block w-full rounded-md border-gray-300" %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, class: "form-control mt-1 block w-full rounded-md border-gray-300" %>
      </div>

      <div class="field">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class: "form-control mt-1 block w-full rounded-md border-gray-300" %>
      </div>

      <div class="actions">
        <%= form.submit 'Create Food', class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to 'Back', foods_path, class: 'btn btn-secondary' %>
  </div>
</div>
