<div class="container mt-5">
  <h2 class="mb-4">Add Food to Recipe</h2>

  <%= form_for @recipe_food, class: 'mb-4' do |f| %>
    <div class="mb-3">
      <%= f.label :food_id, 'Food', class: 'form-label' %>
      <%= f.collection_select :food_id, current_user.foods, :id, :generalinfo, { prompt: 'Select a Food' }, class: 'form-select' %>
    </div>

    <div class="mb-3">
      <%= f.label :quantity, class: 'form-label' %>
      <%= f.number_field :quantity, step: '0.01', class: 'form-control' %>
    </div>

    <%= f.hidden_field :recipe_id %>

    <div class="d-flex  mb-4">      
      <%= f.submit 'Add Food', class: 'btn btn-primary me-4' %>
      <%= link_to 'Back', :back, class: 'btn btn-success ms-4' %>
    </div>
  <% end %>

</div>