<nav class="bg-gray-800">
  <% if current_user %>
    <div class='dflex spacebetween'>
      <div>
        <%= link_to 'Foods', foods_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>
        <%= link_to 'Recipes', recipes_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>
        <%= link_to 'Public Recipes', public_recipes_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>
        <%= link_to 'Shopping List', general_shopping_list_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>
      </div>
      <div>
        <%= link_to "Sign Out", custom_destroy_user_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
      </div>
    </div>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
  <% end %>
</nav>
